# ls ${liferay.home}/osgi/portal/ | grep commerce | sed -E 's/\.jar$//;s/(.*)/"\1", \\/'

blacklistBundleSymbolicNames=[ \
"com.liferay.commerce.account.item.selector.api", \
"com.liferay.commerce.account.item.selector.web", \
"com.liferay.commerce.account.web", \
"com.liferay.commerce.address.content.web", \
"com.liferay.commerce.address.web", \
"com.liferay.commerce.api", \
"com.liferay.commerce.application.list", \
"com.liferay.commerce.availability.estimate.web", \
"com.liferay.commerce.avalara.connector.api", \
"com.liferay.commerce.avalara.connector", \
"com.liferay.commerce.avalara.connector.web", \
"com.liferay.commerce.avalara.dispatch.web", \
"com.liferay.commerce.avalara.tax.engine.fixed", \
"com.liferay.commerce.avalara.tax.engine.fixed.web", \
"com.liferay.commerce.cart.content.web", \
"com.liferay.commerce.cart.taglib", \
"com.liferay.commerce.catalog.web", \
"com.liferay.commerce.channel.web", \
"com.liferay.commerce.checkout.web", \
"com.liferay.commerce.currency.api", \
"com.liferay.commerce.currency.service", \
"com.liferay.commerce.currency.web", \
"com.liferay.commerce.dashboard.web", \
"com.liferay.commerce.discount.api", \
"com.liferay.commerce.discount.content.web", \
"com.liferay.commerce.discount.service", \
"com.liferay.commerce.elasticsearch7", \
"com.liferay.commerce.fragment.collection.contributor.account", \
"com.liferay.commerce.fragment.collection.contributor.cart", \
"com.liferay.commerce.frontend.api", \
"com.liferay.commerce.frontend.impl", \
"com.liferay.commerce.frontend.js", \
"com.liferay.commerce.frontend.taglib", \
"com.liferay.commerce.geocoder.bing", \
"com.liferay.commerce.google.merchant", \
"com.liferay.commerce.health.status.web", \
"com.liferay.commerce.image.service", \
"com.liferay.commerce.initializer.util", \
"com.liferay.commerce.inventory.api", \
"com.liferay.commerce.inventory.service", \
"com.liferay.commerce.inventory.web", \
"com.liferay.commerce.item.selector.api", \
"com.liferay.commerce.item.selector.web", \
"com.liferay.commerce.machine.learning.api", \
"com.liferay.commerce.machine.learning.forecast.alert.api", \
"com.liferay.commerce.machine.learning.forecast.alert.service", \
"com.liferay.commerce.machine.learning.forecast.alert.web", \
"com.liferay.commerce.machine.learning.impl", \
"com.liferay.commerce.media.api", \
"com.liferay.commerce.media.impl", \
"com.liferay.commerce.notification.api", \
"com.liferay.commerce.notification.service", \
"com.liferay.commerce.notification.web", \
"com.liferay.commerce.order.content.web", \
"com.liferay.commerce.order.rule.api", \
"com.liferay.commerce.order.rule.service", \
"com.liferay.commerce.order.rule.web", \
"com.liferay.commerce.order.web", \
"com.liferay.commerce.organization.api", \
"com.liferay.commerce.organization.web", \
"com.liferay.commerce.payment.api", \
"com.liferay.commerce.payment.method.authorize.net", \
"com.liferay.commerce.payment.method.mercanet", \
"com.liferay.commerce.payment.method.money.order", \
"com.liferay.commerce.payment.method.paypal", \
"com.liferay.commerce.payment.service", \
"com.liferay.commerce.payment.web", \
"com.liferay.commerce.price.list.api", \
"com.liferay.commerce.price.list.service", \
"com.liferay.commerce.pricing.api", \
"com.liferay.commerce.pricing.service", \
"com.liferay.commerce.pricing.web", \
"com.liferay.commerce.product.api", \
"com.liferay.commerce.product.asset.categories.navigation.web", \
"com.liferay.commerce.product.asset.categories.web", \
"com.liferay.commerce.product.content.api", \
"com.liferay.commerce.product.content.category.web", \
"com.liferay.commerce.product.content.search.web", \
"com.liferay.commerce.product.content.web", \
"com.liferay.commerce.product.definitions.web", \
"com.liferay.commerce.product.item.selector.api", \
"com.liferay.commerce.product.item.selector.web", \
"com.liferay.commerce.product.measurement.unit.web", \
"com.liferay.commerce.product.options.web", \
"com.liferay.commerce.product.service", \
"com.liferay.commerce.product.subscription.type.web", \
"com.liferay.commerce.product.taglib", \
"com.liferay.commerce.product.tax.category.web", \
"com.liferay.commerce.product.type.grouped.api", \
"com.liferay.commerce.product.type.grouped.service", \
"com.liferay.commerce.product.type.grouped.web", \
"com.liferay.commerce.product.type.simple", \
"com.liferay.commerce.product.type.virtual.api", \
"com.liferay.commerce.product.type.virtual.order.api", \
"com.liferay.commerce.product.type.virtual.order.content.web", \
"com.liferay.commerce.product.type.virtual.order.service", \
"com.liferay.commerce.product.type.virtual.service", \
"com.liferay.commerce.product.type.virtual.web", \
"com.liferay.commerce.punchout.api", \
"com.liferay.commerce.punchout.oauth2.provider.api", \
"com.liferay.commerce.punchout.oauth2.provider.rest", \
"com.liferay.commerce.punchout.portal.security.auto.login", \
"com.liferay.commerce.punchout.service", \
"com.liferay.commerce.punchout.web", \
"com.liferay.commerce.qualifier.api", \
"com.liferay.commerce.qualifier.service", \
"com.liferay.commerce.report.api", \
"com.liferay.commerce.report.impl", \
"com.liferay.commerce.service", \
"com.liferay.commerce.shipment.content.web", \
"com.liferay.commerce.shipment.web", \
"com.liferay.commerce.shipping.engine.fedex", \
"com.liferay.commerce.shipping.engine.fixed.api", \
"com.liferay.commerce.shipping.engine.fixed.service", \
"com.liferay.commerce.shipping.engine.fixed.web", \
"com.liferay.commerce.shipping.origin.locator.api", \
"com.liferay.commerce.shipping.origin.locator", \
"com.liferay.commerce.shipping.web", \
"com.liferay.commerce.shop.by.diagram.api", \
"com.liferay.commerce.shop.by.diagram.service", \
"com.liferay.commerce.shop.by.diagram.web", \
"com.liferay.commerce.site.initializer", \
"com.liferay.commerce.subscription.web", \
"com.liferay.commerce.taglib", \
"com.liferay.commerce.talend.job.deployer.api", \
"com.liferay.commerce.tax.api", \
"com.liferay.commerce.tax.engine.fixed.api", \
"com.liferay.commerce.tax.engine.fixed.service", \
"com.liferay.commerce.tax.engine.fixed.web", \
"com.liferay.commerce.tax.engine.remote", \
"com.liferay.commerce.tax.service", \
"com.liferay.commerce.tax.web", \
"com.liferay.commerce.term.api", \
"com.liferay.commerce.term.service", \
"com.liferay.commerce.term.web", \
"com.liferay.commerce.theme.minium.api", \
"com.liferay.commerce.theme.minium.full.site.initializer", \
"com.liferay.commerce.theme.minium.impl", \
"com.liferay.commerce.theme.minium.site.initializer", \
"com.liferay.commerce.theme.speedwell.site.initializer", \
"com.liferay.commerce.warehouse.web", \
"com.liferay.commerce.wish.list.api", \
"com.liferay.commerce.wish.list.service", \
"com.liferay.commerce.wish.list.web", \
"com.liferay.headless.commerce.admin.account.api", \
"com.liferay.headless.commerce.admin.account.client", \
"com.liferay.headless.commerce.admin.account.impl", \
"com.liferay.headless.commerce.admin.catalog.api", \
"com.liferay.headless.commerce.admin.catalog.client", \
"com.liferay.headless.commerce.admin.catalog.impl", \
"com.liferay.headless.commerce.admin.channel.api", \
"com.liferay.headless.commerce.admin.channel.client", \
"com.liferay.headless.commerce.admin.channel.impl", \
"com.liferay.headless.commerce.admin.inventory.api", \
"com.liferay.headless.commerce.admin.inventory.client", \
"com.liferay.headless.commerce.admin.inventory.impl", \
"com.liferay.headless.commerce.admin.order.api", \
"com.liferay.headless.commerce.admin.order.client", \
"com.liferay.headless.commerce.admin.order.impl", \
"com.liferay.headless.commerce.admin.pricing.api", \
"com.liferay.headless.commerce.admin.pricing.client", \
"com.liferay.headless.commerce.admin.pricing.impl", \
"com.liferay.headless.commerce.admin.shipment.api", \
"com.liferay.headless.commerce.admin.shipment.client", \
"com.liferay.headless.commerce.admin.shipment.impl", \
"com.liferay.headless.commerce.admin.site.setting.api", \
"com.liferay.headless.commerce.admin.site.setting.client", \
"com.liferay.headless.commerce.admin.site.setting.impl", \
"com.liferay.headless.commerce.core.api", \
"com.liferay.headless.commerce.core.impl", \
"com.liferay.headless.commerce.delivery.cart.api", \
"com.liferay.headless.commerce.delivery.cart.client", \
"com.liferay.headless.commerce.delivery.cart.impl", \
"com.liferay.headless.commerce.delivery.catalog.api", \
"com.liferay.headless.commerce.delivery.catalog.client", \
"com.liferay.headless.commerce.delivery.catalog.impl", \
"com.liferay.headless.commerce.delivery.order.api", \
"com.liferay.headless.commerce.delivery.order.client", \
"com.liferay.headless.commerce.delivery.order.impl", \
"com.liferay.headless.commerce.machine.learning.api", \
"com.liferay.headless.commerce.machine.learning.client", \
"com.liferay.headless.commerce.machine.learning.impl", \
"com.liferay.headless.commerce.punchout.api", \
"com.liferay.headless.commerce.punchout.impl", \
]
